@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Denne side er udarbejdet i frobindelse med eksamen i faget I4-GUI af Simon Thrane Hansen</p>
<h3>Siden er lavet på baggrund af følgende læringsmål:</h3>
<ul style="list-style-type:square">
    <li></li>
    <li></li>
    <li></li>
</ul> 
