@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Denne side er udarbejdet i forbindelse med eksamen i faget I4-GUI af Simon Thrane Hansen</p>
<h3>Siden er lavet på baggrund af følgende læringsmål:</h3>
<ul style="list-style-type:square">
    <li>Redegøre for arkitekturen for en Webapplikation</li>
    <li>Designe og implementere Webapplikationer med en grafisk brugergrænseflade med brug af HTML5, CSS og javascript</li>
    <li>Anvende et server side MVC framework til udvikling af Webapplikationer</li>
</ul> 
